
/*body {
    background-color: #333333;
}*/

.for-whole-body{ 
    background-color:#222b2f;
}

.logo {
    width: 4rem;
    height: 4rem;
    }

.bordercolor {
        border: 1px solid yellow;
}
.bordercolorblue {
        border: 2px solid blue;
}

.black {
        background-color: black;
}

.white {
    color: white;
}

.lora {
    font-family: 'lora',serif;
}

.yellowish {
    background-color: #99803e;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 444px;
}

.mainTitle {
    font-size: 31px;
    line-height: 3rem;
    height: 100%;
}

.travel-in-style{
    margin-top: -4rem;
}
.greenhr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
  color:#99803e;
  margin-left:auto;
  margin-right:auto;
  /*width: 95%;*/
}

.blue {
    background-color:#2F6080;
}

.bg-blue { 
    background-color:#2F6080 !important; 
    width: 62%}

.bg-yellow { 
    background-color:#99803e !important; 
    width: 62%}

.car1 {
    height: 270px;
    width: 106%;
    margin-left: 0rem;
} 
.hero-image-text-and-button{
    margin-top: 12rem;
}
.car2 {
    height: 270px;
    width: 106%;
} 

.bottom-container {
    margin-top: 2rem;
}

.three-columns-container .row .sm-paragraph {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


@media screen and (min-width: 370px) {

.hero-image-text-and-button{
    margin-top: 15rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 489px;
}

}

@media screen (min-width: 394px) {
/*.hero-image-text-and-button {
    margin-top: 15rem;
}*/


.hero-image-text-and-button{
    margin-top: 15rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 565px;
}

.travel-in-style{
    margin-top: -8rem;
}
}


@media screen and (min-width: 425px) {
/*.hero-image-text-and-button {
    margin-top: 15rem;
}*/


.hero-image-text-and-button{
    margin-top: 16rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 565px;
}

.travel-in-style{
    margin-top: -8rem;
}
}


@media screen and (min-width: 452px) {
.hero-image-text-and-button {
    margin-top: 16rem;
}
}


@media screen and (min-width: 464px) {
/*.hero-image-text-and-button {
    margin-top: 15rem;
}*/


.hero-image-text-and-button{
    margin-top: 17rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 592px;
}

.travel-in-style{
    margin-top: -8rem;
}
}


@media screen and (min-width: 478px) {
/*.hero-image-text-and-button {
    margin-top: 15rem;
}*/


.hero-image-text-and-button{
    margin-top: 18rem;
}


@media screen and (min-width: 540px) {
.hero-image-text-and-button {
    margin-top: 20rem;
}


.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 516px;
}

.travel-in-style{
    margin-top: -4rem;
}


}


@media screen and (min-width: 575px) {
.hero-image-text-and-button {
    margin-top: 21rem;
}

.travel-in-style{
    margin-top: -4rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 590px;
}

.travel-in-style{
    margin-top: -4rem;
}

}



@media screen and (min-width: 600px) {
.hero-image-text-and-button {
    margin-top: 25rem;
}

.travel-in-style{
    margin-top: -4rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 662px;
}

.travel-in-style{
    margin-top: -4rem;
}

}



@media screen and (min-width: 720px) {
.hero-image-text-and-button {
    margin-top: 13rem;
    width: 23rem;
    margin-left: -5rem;
}

.travel-in-style{
    margin-top: -8rem;
}

.mainTitle {
    font-size: 33px;
    line-height: 3rem;
    height: 100%;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 710px;
}
}

@media screen and (min-width: 767px) {
.hero-image-text-and-button {
    margin-top: 12rem;
    margin-left: -1rem;
}

.bluebox-and-carimg .card {
width: 12rem;
}

.bgimg-and-text {
    height: 578px;
}

.travel-in-style{
    margin-top: -4rem;
}

.car1 {
  height: 270px;
    width: 100%;
    margin-left: 0rem; 
}

.car2 {
     height: 270px;
    width: 100%;
    margin-left: 0rem;
}

}

@media screen and (min-width: 991px) {
.hero-image-text-and-button {
    margin-top: 14rem;
    margin-left: -1rem;
}

.travel-in-style{
    margin-top: 0rem;
}

.mainTitle {
    font-size: 40px;
    line-height: 4rem;
    height: 100%;
}

.bgimg-and-text {
    height: 578px;
}
}


@media screen and (min-width: 1199px) {
.hero-image-text-and-button{
    margin-top: 15rem;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 565px;
}

.travel-in-style{
    margin-top: -8rem;
}
}



@media screen and (min-width: 1200px) {
.hero-image-text-and-button {
    margin-top: 17rem;
    /*/*margin-left: -8rem;*/
}

.travel-in-style{
    margin-top: 10rem;
}
}





/*Simon css below*/

/* Tour With Us */
.tourWithUs {
    color: white;
}

.tourWithUs {
    margin-top: 4rem;
}
.card-deck-tourWithUs .card {
    background-color: transparent;
}

.card-deck-tourWithUs .card-block {
    padding: 0 0 20px 0;
    background-color: rgb(148, 159, 179);
    text-align: center;
    margin-bottom: 20px;
}

.news-and-events-session {
    background-color: #333333;
}

.card-deck-tourWithUs .card-title {
    background-color: maroon;
    justify-content: center;
    display: flex;
    height: auto;
    margin: auto;
    padding: 20px 10px 20px 10px;
    color: white;
}

.card-deck-tourWithUs .card-text {
    padding: 20px;
    color: white;
}

.card-deck-tourWithUs .btn {
    padding: 15px 30px 15px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid;
}

/* News And Events */
/*.whatPeople {
    color: white;
}*/

.take-a-tour-with-us-session{
    background-color: #6E7788;
}
.news-and-events {
    margin-top: 4rem;
}


.news-events {
    margin-bottom: 50px; 
}
.news-events .btn {
    background-color: gold;
}
.news-events img {
    width: 100%;
}

/* Horizontal Rules */
.goldhr {
    color: gold;
    margin: 50px 0 50px 0;
}

/*simon css ends here*/

/*Khaled css below*/
#what{
    background: #333333;
    color:white;
    font-family: 'lora',serif;
    margin-top: 4rem;
}

.whatPeople{
    padding-top: 26px;
}

.quote1 {
    color: #99803e;
    font-size: 166px;
    font-family: 'lora',serif;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.quote2 {
    color: #99803e;
    font-size: 166px;
    font-family: 'lora',serif;
    margin-top: 20px;
    box-sizing: border-box;    
}

.bluehr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
  color:#728dd9;
  margin-left:auto;
  margin-right:auto;
}

.yellowhr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
  color:#99803e;
  margin-left:auto;
  margin-right:25px;;
}

.card-text {
    font-size: 17px;
    }

p{
    color: white;
    font-size: 22px;   
}

.author{
    color: #99803e ;
    font-size: 20px;  
}

#visit{
    border-radius: 0;
    margin-top: -100px;
}

#contact{
    border-radius: 0;
    margin-top: 30px;
    background-color:transparent;
    border-color:white;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    border-width: 2px;
    font-size: 27px;
    margin-bottom: 100px;
}
/*I dont know how to add a border when hovering everything moves*/
#contact:hover{
    border-radius: 0;
    margin-top: 30px;
    background-color:transparent;
    border-color:grey;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    border-width: 2px;
    font-size: 27px;
    margin-bottom: 100px;
    box-shadow: solid grey;
    box-sizing: border-box;
    color: grey;
}

#contactus{
-webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
overflow: hidden;
display: block;
  position:relative;
z-index: 2;
background-image: url('http://freebigpictures.com/wp-content/uploads/sunset-forest.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        max-width: 'initial'
        
}

.contactlist{
     color:white;
    font-family: 'lora',serif;
    padding-top: 20px;
}

h1.contactlist.first{
    margin-top: 100px;
}
.downhr{
      -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
  color:#99803e;
  margin-left:auto;
  margin-right:25px;;
  margin-top:50px;

}
#footer{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display:flex;
}

#rights{
        width: 80%;
    margin: auto;
    display:flex;
}

.icons{
    font-size: 42px;
    color:#99803e;
    padding-right:28px;
}

#copywright{
    font-size:12px;
}

.brownish{
    color:#99803e;
}

.footeradjust{
    font-size:18px;
    font-family: "lato";
}
/**
@media screen and (max-width: 767px) {
.quote1 {
    color: #99803e;
    font-size: 26px;
    font-family: 'lora',serif;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.quote2 {
    color: #99803e;
    font-size: 26px;
    font-family: 'lora',serif;
    margin-top: 20px;
    box-sizing: border-box;    
}
}

**/






