
    .wrapper {
        width: 100%;
        height: 100%;
}

    header {
        display: flex;
        flex-direction: column;        
        height: 9rem;
        width: 100%;
        background-color: black;
}
    
    img.logo {
        display: flex;
        justify-content: center;
        margin-left: 17rem;
        margin-top: 2rem;
        width: 4rem;
}

    #logoTitle {
        margin-left: 22rem;
        margin-top: -3.5rem;
        color: white;
        font-family: 'lora',serif;
        width: 32rem;
        display: flex;
        flex-direction: row;
        font-size: 37px;
}   

    .navContainer > a {
        font-family: 'lato',sans-serif;
        text-decoration: none;
        text-decoration: none;
        font-family: 'lato',sans-serif;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 18px;
        margin-left: 13px;
}

    .navbar {
        height: 4rem;
        padding-left: 4rem;
        padding-top: 7px;
        padding-bottom: 1px;
        margin-bottom: 0rem;
        background-color: #99803e;
}

    .navContainer {
        padding-left: 20rem;
        margin-top: 17px;
        width: 100%;
}

    .frontTextofBigCar {
        width: 100%;
        /* height: 100%; */
        padding-left: 0rem;
        padding-top: 76rem;
}

    .topPageBackground {
        background-color: #333333;
        border: 3px solid black;
        margin-top: -50rem;
        padding-top: 10rem;
        height: 100%;
        width: 100%;
}
    
    .Paragraph {
        color: whitesmoke;
        font-family: 'lato',sans-serif;
}

    .bottomSection {
        height: 100%;
        width: 100%;
        margin-top: 2rem;
}

    .mainTitle {
        font-size: 32px;
        margin-top: -59rem;
        width: 45rem;
        padding-left: 63px;
}

    .lora {
        font-family: 'lora',serif;
}

    .lato {
        font-family: 'lato',sans-serif;
}
    
    .mainButton {
        width: 10rem;
        height: 3rem;
        margin-left: 4rem;
        font-family: 'lato',sans-serif;
}

    h3 {
        font-size: 13px;
    }

    
    
    .bigTitleCenter {
        padding-left: 38%;
        font-family: 'lora',serif;
        font-size: 37px;
        padding-top: 3%;
        margin-top: 0rem;
    }

    .Paragraph {
        text-align: center;
        font-size: 15px;
        padding-left: 1rem;
        padding-left: 1%;
        padding-right: 1%;
        padding-right: -2%;
        margin-top: 3%;
        line-height: 2.2rem;
        height: 7rem;
    }

    .BackGroundBox {
        width: 36rem;
        padding-left: 7px;
        padding-right: 3px;
        height: -1rem;
    }

    .BackGroundBox button {
        width: 10rem;
        margin-left: 1.1rem;
        margin-top: 5.9rem;
    }

    .paragraphInRow {
        line-height: 28px;
        font-size: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
    }

    .BackGroundBox p {
        line-height: 30px;
        font-size: 17px;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 1rem;
    }

    .Cars {
        height: 279px;
        width: 18.5rem;
    } 

    .Cars.above {
        margin-left: 2rem;
    }
        

    .Cars.below {
        margin-right: 2rem;
    }
  
    h4{
        font-size: 20px;
        text-align: center;
        margin-bottom: 15%;
        margin-top: 3%;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 14rem;
    }

    p.titleHeading {
        font-family: 'lora',serif;
        font-size: 24px;
        margin-left: 0rem;
    }

    .bottomSection.Row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15.5rem;
    }

    .wholeParagraph{
        margin-top: 1px;
        height: 14rem;
        width: 18.5rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .wholePageborder{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        margin-top: -5rem;
        height: 100%;
        margin-right: 0rem;
    }

    .darked {
        background-color: darkred;
    }

    .white {
        color: white;
    }

    .yellowish {
        background-color: #99803e;
    }

    .bottomSection-button {
        width: 12rem;
        margin-top: 7rem;
        height: 3rem;
    }

    .lineBreak {
        size: 10px;
        color: #99803e;
    }
       
    .BackGroundBox {
        width: 39rem;
    }

    .Row {
        display: flex;
        width: 100%;
        height: 31%;
        margin-bottom: 1rem;
    }

    .blue {
        background-color:#2F6080;
    }

    h4{
    font-family: 'lato',sans-serif;
    }



