body {
    background-color: #333333;
}
.header-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.header-container {
    padding: 10px
}

.header-container img.logo {
    width: 5rem;
    height: 5rem;
}

.header-container .logoTitle.lora {
    color: white;
    width: 27rem;
    font-size: 37px;
}

.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.hero-image-text {
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar {
    background-color: #99803e;
}

.navbar > a {
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    margin-left: 13px;
}

.travel-in-style h1 {
    color: white;
    margin: 10px;
    font-size: 26px;
}
.section-title {
    font-size: 37px;
    color: white;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.mainTitle {
    font-size: 41px;
    line-height: 4rem;
    height: 100%;
}

.lora {
    font-family: 'lora',serif;
}

.lato {
    font-family: 'lato',sans-serif;
}

.mainButton {
    width: 10rem;
    height: 4rem;
}

h3 {
    font-size: 14px;
}

.BackGroundBox {
    width: 36rem;
    height: -1rem;
}

.BackGroundBox button {
    width: 10rem;
    margin-left: 1.1rem;
    margin-top: 4.9rem;
}

.paragraphInRow {
    line-height: 28px;
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
}

.BackGroundBox p {
    line-height: 30px;
    font-size: 16px;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
}

.Cars {
    height: 270px;
    width: 23.5rem;
} 

.Cars.above {
    margin-left: 2rem;
}
    
.Cars.below {
    margin-right: 2rem;
}

h4{
    font-size: 20px;
    text-align: center;
    height: 1px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 14rem;
}

p.titleHeading {
    font-size: 24px;
    margin-left: 0rem;
}

.bottomSection.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15.5rem;
}

.darked {
    background-color: darkred;
}

.white {
    color: white;
}

.yellowish {
    background-color: #99803e;
}

.bottomSection-button {
    width: 12rem;
    margin-top: 7rem;
    height: 3.5rem;
}

.lineBreak {
    size: 10px;
    color: #99803e;
}
    
.BackGroundBox {
    width: 50rem;
    height: 17rem;
    padding-left: 13px;
}

.Row {
    width: 100%;
    height: 31%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.blue {
    background-color:#2F6080;
}
