body {
    background-color: #333333;
}
.header-container {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px

}

.header-container img.logo {
    width: 5rem;
    height: 5rem;
}

.header-container .logoTitle.lora {
    color: white;
    width: 20rem;
    font-size: 37px;
    padding-top: 14px;
}

.golden {
    color: #FF8C00;
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
}
.hero-image {
    position: relative;
    background-image: url("../img/backGround.jpg");
    -webkit-clip-path: polygon(0 23%, 100% 5%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 79%, 0% 93%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.hero-image-text {
    position: absolute;
    top: 15rem;
    left: 50px;
}

.navbar {
    background-color: #99803e;
}

.navbar > a {
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    margin-left: -18px;
}


.bottomSection2.col-12 {
    margin-bottom: 2rem;
}

.bottomSection1 {
    margin-bottom: 2rem;
}

.card {
    width: 49rem;
}

.card-text {
    font-size: 18px;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

p {
    font-size: 18px;
    padding-top: 2rem;
}


.card-title {
    font-size: 30px;
    height: 1px;
}

.travel-in-style h1 {
    color: white;
    margin: 10px;
    font-size: 26px;
}

.section-title {
    font-size: 47px;
    color: white;
}

.mainTitle {
    font-size: 44px;
    line-height: 4rem;
    height: 100%;
}

.lora {
    font-family: 'lora',serif;
}

.hero-image .btn {
    width: 13rem;
    height: 4rem;
    padding-top: 22px;
}

h3 {
    font-size: 14px;
}


.greenhr{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 3px 0;
  margin: 18px 0;
  color:#99803e;
  margin-left:auto;
  margin-right:auto;
  width: 95%;
}

.cars {
    height: 270px;
    width: 23.5rem;
} 

.cars.above {
    margin-left: 2rem;
}
    
.cars.below {
    margin-right: 2rem;
}

.travel-in-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 14rem;
    margin-bottom: 8rem;
}

p.titleHeading {
    font-size: 24px;
    margin-left: 0rem;
}

.bottomSection.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15.5rem;
}

.darked {
    background-color: darkred;
}

.navbar-nav {margin-left: 29rem;}

#navbarSupportedContent {
    justify-content: center;
}
.white {
    color: white;
}

.yellowish {
    background-color: #99803e;
}

.bottomSection-button {
    width: 12rem;
    margin-top: 7rem;
    height: 3.5rem;
}
    
.BackGroundBox {
    width: 50rem;
    height: 17rem;
    padding-left: 13px;
    padding-top: 26px;
    margin-bottom: 9rem;
}

.Row {
    width: 100%;
    height: 31%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.blue {
    background-color:#2F6080;
}

.card {
    border: none;
}


* {
    border: 1px solid yellow;
}

.header-container {
    display: none;
}

.navbar-brand img{width: 27px;}

.navbar-brand .logo {display:inline-block;margin-right: 0px;padding-top: 0px;margin-top: -6px;} 
.navbar-brand .logoTitle {display:inline-block;} 

h1 {font-size: 1.5rem;}

.navbar-brand {
    margin-left: -1px;
}